body {
    background-image: linear-gradient(270deg, rgb(0, 248, 236), rgb(0, 157, 248));
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

main {
    margin-top: 90px;
    margin-bottom: 10px;
}

header {
    height: 80px;
    background-color: #fff;
}

.container.rounded {
    background: rgb(255, 255, 255);
}

.problems {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}